.container {
	margin: auto;
	text-align: center;
}

.container .button {
    background-color: #d8cbcb;
    width: 75px;
    padding: 2px;
    text-align: center;
    border: 4px gray;
    border-style: outset;
    cursor: pointer;
    margin: auto;
    margin-top: 5px;
}

#result {
    margin: auto;
    width: 200px;
    text-align: center;
    padding: 10px;
}

.spinner {
	margin: auto;
}

.spinner .marker {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 20px solid red;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 10;
}

.spinner .circle {
	background-color: black;
	cursor: pointer;
	border-radius: 100%;
	position: absolute;
    width: inherit;
    height: inherit;
    margin: auto;
}

.spinner .circle .triangle {
	width: 0;
    height: 0;
    position: inherit;
    margin: auto;
    left: 0;
    right: 0;
}

.spinner .circle .triangle span{
	position: inherit;
	color: white;
	left: -5px;
}

footer {
	position: absolute;
	bottom: 0;
	right: 0;
}
